[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Angular 2 oauth (implicit grant flow). Currently supported: google, facebook, spotify, foursquare. In the future they will be supported: yammer, twitch.
[access "refs/*"]
	owner = group user/lunargorge (lunargorge)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lunargorge (lunargorge)
	label-Verified = -1..+1 group user/lunargorge (lunargorge)
	push = group user/lunargorge (lunargorge)
	read = group user/lunargorge (lunargorge)
	rebase = group user/lunargorge (lunargorge)
	removeReviewer = group user/lunargorge (lunargorge)
	submit = group user/lunargorge (lunargorge)
[access "refs/heads/*"]
	create = group user/lunargorge (lunargorge)
	push = +force group user/lunargorge (lunargorge)
	pushMerge = group user/lunargorge (lunargorge)
	read = group user/lunargorge (lunargorge)
[access "refs/tags/*"]
	push = group user/lunargorge (lunargorge)
	push = +force group user/lunargorge (lunargorge)
