.btn-secondary {
    color: #fff !important;
    cursor: pointer;
}
.google {
    background-color: #cb3927;
    &:hover {
      background-color: darken(#cb3927, 10%);
    }
}
.facebook {
    background-color: #3b5998;
    &:hover {
      background-color: darken(#3b5998, 10%);
    }
}
.foursquare {
    background-color: #ed1389;
     &:hover {
      background-color: darken(#ed1389, 10%);
    }
}
.spotify {
    background-color: #648f00;
     &:hover {
      background-color: darken(#648f00, 10%);
    }
}
.twitter {
    background-color: #00aced;
     &:hover {
      background-color: darken(#00aced, 10%);
    }
}
.instagram {
    background-color: #3f729b;
     &:hover {
      background-color: darken(#3f729b, 10%);
    }
}
.yahoo {
    background-color: #720e9e;
     &:hover {
      background-color: darken(#720e9e, 10%);
    }
}