.btn-secondary {
    color: #fff !important;
    cursor: pointer;
}
.google {
    background-color: #cb3927;
}
.google:hover {
    background-color: #84291e;
}
.facebook {
    background-color: #3b5998;
}
.facebook:hover {
   background-color: #354361;
}
.foursquare {
    background-color: #ed1389;
}
.foursquare:hover {
    background-color: #c9257e;
}
.spotify {
    background-color: #648f00;
}
.spotify:hover {
    background-color: #546c1f;
}
.twitter {
    background-color: #00aced;
}
.twitter:hover {
    background-color: #1d8cb7;
}
.instagram {
    background-color: #3f729b;
}
.instagram:hover {
    background-color: #446988;
}
.yahoo {
    background-color: #720e9e;
}
.yahoo:hover {
    background-color: #711c96;
}